# Any key file
*.key

# Backup files
*.bak
*.old
old/

# Python Compiled and Object files
*.pyc
*.pk

# Logging and output files
logs/
*.log*
*.out
*.err

# Locally stored reports folder
reports*/

# All JSON files
*.json
# except the model
!model.json

# Other stuff
.idea/
